{% extends 'layout/base.html' %} {% block content %}

<section class="container add-container">
    <h3 class="add-title magenta-colour">Add new project</h3>
    <form class="col s12" action="{{url_for('projects')}}" method="POST">
        <div class="form-group">
            <i class="fas fa-question-circle help-tip"><p>Please add the name of your project.</p></i>
            <label class="wine-colour" for="project_name">Project Name</label>
            <input type="text" class="form-control" name="project_name" id="project_name" aria-label="Enter project name" required />
          </div>
          <div class="form-group">
            <i class="fas fa-question-circle help-tip"><p>Please add a brief description of the project. </p></i>
            <label class="wine-colour" for="project_desc">Description of Project</label>
            <input type="text" maxlength="60" class="form-control" name="project_desc" id="project_desc" aria-label="Enter project description" required/>
          </div>
          <div class="form-group">
            <i class="fas fa-question-circle help-tip"><p>Please add the repository for this project.</p></i>
            <label class="wine-colour" for="project_github">Github Repository</label>
            <input type="text" class="form-control" name="project_github" id="project_github" aria-label="Enter project github repository" required/>
          </div>
          <div class="form-group">
            <i class="fas fa-question-circle help-tip"><p>Please add the live environment URL for this project.</p></i>
            <label class="wine-colour" for="project_live">Project URL</label>
            <input type="text" class="form-control" name="project_live" id="project_live" aria-label="Enter project live website URL" required/>
          </div>
          <div class="form-group">
            <i class="fas fa-question-circle help-tip"><p>Please add the image URL that will represent this project.</p></i>
            <label class="wine-colour" for="project_img">Project Image URL</label>
            <input type="text" class="form-control" name="project_img" id="project_img" aria-label="Enter project img URL" required/>
          </div>
          <div class="form-group">
            <i class="fas fa-question-circle help-tip"><p>Add "order-first" to display project image on the left side or "order-last" to display it on the right side.</p></i>
            <label class="wine-colour" for="project_order">Project Order</label>
            <input type="text" class="form-control" name="project_order" id="project_order" aria-label="Enter project display order" required/>
          </div>
          <div class="form-group">
            <i class="fas fa-question-circle help-tip"><p>Write "project-divider" to add a line divider below the project. Do not if it's the last project on the page.</p></i>
            <label class="wine-colour" for="project_divider">Project Divider Line</label>
            <input type="text" class="form-control" name="project_divider" id="project_divider" aria-label="Enter project divider line if this isn't the last project" />
          </div>
          <button type="submit" class="btn btn-colour">Submit</button>
    </form>
</section>

{% endblock %}