{% extends 'layout/base.html' %} {% block callout %}
<!-- Flash message -->
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<div class="container">
  <div class="flash alert alert-{{category }}">
    {{ message }}
  </div>
</div>
{% endfor %} {% endif %}{% endwith %} {% if 'username' in session %} {% else %}
<!-- Callout Container -->
<section class="callout-container">
  <div class="main">
    <h1 class="h1-small">Hello, my name is</h1>
    <h2 class="h2-big">Mariana Stefani.</h2>
    <h3 class="h3-big">I'm a full-stack web developer</h3>
    <p class="p-main">I code pretty things always with the user in mind.</p>
    <button type="button" class="btn btn-light">Let's Talk!</button>
    <div class="scroll-down"></div>
  </div>
</section>
{% endif %} {% endblock %} {% block content %}
<!-- About Me Container -->
<section class="container-fluid about-container">
  <div>
    <h1 class="about-header">About Me</h1>
  </div>
  <div class="row">
    <div class="portrait-container col-md-12 col-lg-6">
      <img class="portrait" src="static/images/Mariana.png" />
    </div>
    <div class="about-p-container col-md-12 col-lg-6">
      <p class="about-p">
        I'm based in London and I started my code journey in 2018 when I became
        a full-stack student at
        <span class="ci">Code Institute</span>.<br />
        I love writing code, solve problems and explore new languages.<br />
        I believe anything can be achieved through commitment and hardwork.
      </p>
    </div>
  </div>
  <div class="skillset">
    <h3>Skillset</h3>
    {% if 'username' in session %}
    <a
      href="{{url_for('add_skill', skill_id=skill._id)}}"
      class="btn btn-primary"
      >Add Skill
      <span><i class="fas fa-user-edit prefix" aria-hidden="true"></i></span
    ></a>
    {% endif %}
  </div>
  <!-- Progress Circle - tutorial from https://bootstrapious.com/p/circular-progress-bar -->
  <div class="row progress-container">
    {% for skill in skills %}
    <div class="col mb-4">
      <!-- Skills Progress -->
      <div class="progress mx-auto" data-value="{{skill.percent}}">
        <span class="progress-left">
          <span class="progress-bar {{skill.colour}}"></span>
        </span>
        <span class="progress-right">
          <span class="progress-bar {{skill.colour}}"></span>
        </span>
        <div class="progress-value">
          <div>
            <i class="{{skill.icon}} {{skill.colour}} progress-icon"></i>
          </div>
        </div>
      </div>
      <p class="progress-p">{{skill.percent}}<sup class="small">%</sup></p>
      {% if 'username' in session %}
      <a
        href="{{url_for('edit_skill', skill_id=skill._id)}}"
        class="btn btn-primary"
        >Edit
        <span><i class="fas fa-user-edit prefix" aria-hidden="true"></i></span
      ></a>
      <a
        href="{{url_for('delete_skill', skill_id=skill._id)}}"
        class="btn btn-primary"
        >Delete
        <span><i class="fas fa-user-edit prefix" aria-hidden="true"></i></span
      ></a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>

<!-- Projects -->
<section class="container-fluid projects-container">
  <h1 class="">Projects</h1>
  <p class="projects-p">
    Here are a few projects that I've worked on recently.
  </p>
  <div class="row each-project">
    <div class="aroma-p col-lg-4 col-10">
      <p class="projects-p">Featured Project</p>
      <p class="projects-p">
        Aroma Healing
      </p>
      <p>
        This website was designed for people who are looking for an
        aromatherapy course around the world. The website has a bonus to provide
        some useful recipes to heal the most common affliction with the use of
        essential oils.
      </p>
      <ul class="list-inline social-links">
        <li class="list-inline-item">
          <a class="social-btn" href="https://github.com/mariana-stefani/aroma-healing" target="_blank"
            ><i class="fab fa-github" aria-hidden="true"></i
          ></a>
        </li>
        <li class="list-inline-item">
          <a class="social-btn" href="https://mariana-stefani.github.io/aroma-healing/" target="_blank"
            ><i class="fas fa-external-link-alt" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
    </div>
    <a href="https://mariana-stefani.github.io/aroma-healing/" target="_blank"><img class="aroma" src="static/images/aroma.png" /></a>
  </div>
</section>

<!-- Footer -->
{% endblock %} {% block footer %}
<footer class="container-fluid">
  <div id="footer-details" class="row">
    <div class="col-12">
      <ul class="list-inline social-links">
        <li class="list-inline-item">
          <a class="social-btn" href="#"
            ><i class="fab fa-facebook-square" aria-hidden="true"></i
          ></a>
        </li>
        <li class="list-inline-item">
          <a class="social-btn" href="#"
            ><i class="fab fa-twitter" aria-hidden="true"></i
          ></a>
        </li>
        <li class="list-inline-item">
          <a class="social-btn" href="#"
            ><i class="fab fa-instagram" aria-hidden="true"></i
          ></a>
        </li>
        <li class="list-inline-item">
          <a class="social-btn" href="#"
            ><i class="fab fa-youtube" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>

{% endblock %}
