{% extends 'layout/base.html' %} 

<!-- Callout Container -->
{% include 'components/callout.html' %}
{% block callout %}
{% endblock %} 

<!-- About Me Container -->
{% include 'components/about.html' %}
{% block content %}

<!-- Projects -->
{% if 'username' in session %} 
{% else %}
{% include 'components/projects.html' %}
{% block projects %}
{% endblock %}

<!-- Contact Form -->
{% include 'components/form.html' %}
{% block form %}
{% endblock %}

<!-- End if for projects section -->
{% endif %}

<!-- Footer -->
{% include 'layout/footer.html' %}
{% block footer %}{% endblock %}

<!-- End block for block content -->
{% endblock %}

