{% extends 'layout/base.html' %} {% block callout %}
<section class="callout-container">
  <div class="main">
    <h1 class="h1-small">Hello, my name is</h1>
    <h2 class="h2-big">Mariana Stefani.</h2>
    <h3 class="h3-big">I'm a full-stack web developer</h3>
    <p class="p-main">I code pretty things always with the user in mind.</p>
    <button type="button" class="btn btn-light">Let's Talk!</button>
  </div>
</section>
{% endblock %} {% block content %}
<section class="container-fluid about-me">
  <div>
    <h1>About Me</h1>
  </div>
  <div class="row">
    <div class="portrait-container col-md-12 col-lg-6">
      <img class="portrait" src="static/images/Mariana.png" />
    </div>
    <div class="about-container col-md-12 col-lg-6">
      <p class="about-p">
        I'm based in London and I started my code journey in 2018 when I became
        a full-stack student at
        <span class="ci">Code Institute</span>.<br />
        I love writing code, solve problems and explore new languages.<br />
        I believe anything can be achieved through commitment and hardwork.
      </p>
    </div>
  </div>
  <div class="skillset">
    <h3>Skillset</h3>
  </div>
  <!-- Progress circle - tutorial from https://bootstrapious.com/p/circular-progress-bar -->
  <div class="row progress-container">
    {% for skill in skills %}
    <div class="col mb-4">
      <!-- Progress bar 1 -->
      <div class="progress mx-auto" data-value="{{skill.percent}}">
        <span class="progress-left">
          <span class="progress-bar {{skill.colour}}"></span>
        </span>
        <span class="progress-right">
          <span class="progress-bar {{skill.colour}}"></span>
        </span>
        <div class="progress-value">
          <div>
            <i class="{{skill.icon}} {{skill.colour}} progress-icon"></i>
          </div>
        </div>
      </div>
      <p class="progress-p">{{skill.percent}}<sup class="small">%</sup></p>
      {% if 'username' in session %}
      <a href="{{url_for('edit_skill', skill_id=skill._id)}}" class="btn btn-primary"
        >Edit
        <span><i class="fas fa-user-edit prefix" aria-hidden="true"></i></span
      ></a>
    {% endif %}
    </div>
     {% endfor %}
  </div>
</section>

{% endblock %} {% block footer %}
<footer class="container-fluid">
  <div id="footer-details" class="row">
    <div class="col-12">
      <ul class="list-inline social-links">
        <li class="list-inline-item">
          <a class="social-btn" href="#"
            ><i class="fab fa-facebook-square" aria-hidden="true"></i
          ></a>
        </li>
        <li class="list-inline-item">
          <a class="social-btn" href="#"
            ><i class="fab fa-twitter" aria-hidden="true"></i
          ></a>
        </li>
        <li class="list-inline-item">
          <a class="social-btn" href="#"
            ><i class="fab fa-instagram" aria-hidden="true"></i
          ></a>
        </li>
        <li class="list-inline-item">
          <a class="social-btn" href="#"
            ><i class="fab fa-youtube" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>

{% endblock %}
