.callout-container {
  height: 100vh;
  background: rgb(252, 47, 94);
  background: linear-gradient(
    20deg,
    rgba(252, 47, 94, 1) 0%,
    rgba(223, 2, 80, 1) 12%,
    rgba(191, 0, 92, 1) 25%,
    rgba(164, 0, 99, 1) 37%,
    rgba(133, 1, 107, 1) 50%,
    rgba(105, 1, 114, 1) 62%,
    rgba(81, 0, 120, 1) 75%,
    rgba(59, 3, 126, 1) 88%,
    rgba(37, 0, 130, 1) 100%
  );
}
