/*-- Font Family --*/
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

body{
    font-family: 'Muli', sans-serif;
}

.callout-container {
  height: 100vh;
  background: rgb(252, 47, 94);
  background: linear-gradient(
    20deg,
    rgba(252, 47, 94, 0.88) 0%,
    rgba(223, 2, 80, 0.88) 12%,
    rgba(191, 0, 92, 0.88) 25%,
    rgba(164, 0, 99, 0.88) 37%,
    rgba(133, 1, 107, 0.88) 50%,
    rgba(105, 1, 114, 0.88) 62%,
    rgba(81, 0, 120, 0.88) 75%,
    rgba(59, 3, 126, 0.88) 88%,
    rgba(37, 0, 130, 0.88) 100%
  );
}

.main {
  max-width: 1000px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px auto;
  padding: 150px 50px;
}

.h1-small {
  font-size: 16px;
  color: white;
}

.h2-big {
  font-size: 60px;
  color: #fec5d2;
}

.h3-big {
  font-size: 60px;
  color: #cbb7ff;
  margin-top: 20px;
}

.p-main {
  color: #cbb7ff;
  margin-top: 15px;
}

/*-- Footer --*/
footer {
    text-align: center;
    background-color: white;
    padding: 5px 0px 5px 0px;
}

#footer-details {
    margin: 10px;
}

.social-links {
    padding: 15px 0;
    margin-bottom: 0px !important;
}

.social-links i {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    background: #fec5d2;
    color: #FC2F5E;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    box-shadow: 2px 2px 2px #000000;
}

.social-links i:hover {
    background: #D5E4B6;
}

a:link {
    text-decoration: none;
}

.slice text {
    font-size: 16pt;
    font-family: Arial;
}
