/*-- Font Family --*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    20deg,
    rgba(252, 47, 94, 0.88) 0%,
    rgba(223, 2, 80, 0.88) 12%,
    rgba(191, 0, 92, 0.88) 25%,
    rgba(164, 0, 99, 0.88) 37%,
    rgba(133, 1, 107, 0.88) 50%,
    rgba(105, 1, 114, 0.88) 62%,
    rgba(81, 0, 120, 0.88) 75%,
    rgba(59, 3, 126, 0.88) 88%,
    rgba(37, 0, 130, 0.88) 100%
  );
}

/*-- Navbar --*/
nav {
  position: fixed !important;
  top: 0;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.15);
  width: 100%;
}

.navbar-brand {
  color: black !important;
}

a.nav-link {
  margin-left: 0.9375rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #6e47ba;
}

button.navbar-toggler {
  width: 100px;
}

/*-- Callout Container --*/
.callout-container {
  padding-top: 85px;
  height: 100vh;
}

.main {
  max-width: 1000px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px auto;
  padding: 125px 50px;
}

.h1-small {
  font-size: 17px;
  color: white;
  margin-bottom: 10px;
}

.h2-big {
  font-size: 65px;
  color: #fec5d2;
  font-weight: bolder;
}

.h3-big {
  font-size: 60px;
  color: #cbb7ff;
  margin-top: 25px;
}

.p-main {
  color: #cbb7ff;
  margin-top: 30px;
}

.btn {
  margin-top: 20px;
}

@media screen and (max-width: 411px) {
  .main {
    padding: 0px 50px;
  }

  .h2-big {
    font-size: 60px;
  }

  .h3-big {
    font-size: 36px;
  }
}


/*-- About Me --*/

.about-me {
  margin-bottom: 30px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding: 20px 30px 20px 20px;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.portrait {
  max-height: 260px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-container {
  align-items: center;
  display: flex;
  margin-top: 45px;
}

.portrait-container {
  margin-top: 45px;
}

.about-p {
  font-size: 18px;
  text-align: right;
}

/*-- Footer --*/
footer {
  text-align: center;
  background-color: white;
  padding: 5px 0px 5px 0px;
}

#footer-details {
  margin: 10px;
}

.social-links {
  padding: 15px 0;
  margin-bottom: 0px !important;
}

.social-links i {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 45px;
  height: 45px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 20px;
  line-height: 7px;
  background: #fec5d2;
  color: #fc2f5e;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  box-shadow: 2px 2px 2px #000000;
}

.social-links i:hover {
  background: #d5e4b6;
}

a:link {
  text-decoration: none;
}

.slice text {
  font-size: 16pt;
  font-family: Arial;
}
