{% extends 'layout/base.html' %} {% block callout %}
<section class="callout-container">
  <div class="main">
    <h1 class="h1-small">Hello, my name is</h1>
    <h2 class="h2-big">Mariana Stefani.</h2>
    <h3 class="h3-big">I'm a full-stack web developer</h3>
    <p class="p-main">I code pretty things always with the user in mind.</p>
    <button type="button" class="btn btn-light">Let's Talk!</button>
  </div>
</section>
{% endblock %} {% block content %}
<section class="container-fluid about-me">
  <div>
    <h1>About Me</h1>
  </div>
  <div class="row">
    <div class="portrait-container col-md-12 col-lg-6">
      <img class="portrait" src="static/images/Mariana.png" />
    </div>
    <div class="about-container col-md-12 col-lg-6">
      <p class="about-p">
        I'm based in London and I started my code journey in 2018 when I became
        a full-stack student at
        <span class="ci">Code Institute</span>.<br />
        I love writing code, solve problems and explore new languages.<br />
        I believe anything can be achieved through commitment and hardwork.
      </p>
    </div>
  </div>
  <div class="skillset">
    <h3>Skillset</h3>
  </div>
  <!-- Progress circle - tutorial from https://bootstrapious.com/p/circular-progress-bar -->
  <div class="row progress-container">
    {% for skill in skills %}
    <div class="col-xl-3 col-lg-6 mb-4">
      <p class="text-center mb-4">{{skill.skill_name}}</p>

      <!-- Progress bar 1 -->
      <div class="progress mx-auto" data-value="{{skill.percent}}">
        <span class="progress-left">
          <span class="progress-bar border-primary"></span>
        </span>
        <span class="progress-right">
          <span class="progress-bar border-primary"></span>
        </span>
        <div
          class="progress-value w-100 h-100 d-flex align-items-center justify-content-center"
        >
          <div class="h2 font-weight-bold">{{skill.percent}}<sup class="small">%</sup></div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
