{% block callout %}
<!-- Flash message -->
{% with messages = get_flashed_messages() %} 
{% if messages %} 
{% for message in messages %}
    <div aria-live="polite" aria-atomic="true" class=" d-flex justify-content-center align-items-center">
      <div class="toast toast-container green-toast" role="alert" aria-live="assertive" data-delay="4500" aria-atomic="true">
          <div class="green-toast-i">
              <i class="far fa-check-circle fa-4x animated rotateIn"></i>
          </div>    
          <div class="toast-body green-toast-body">
              {{ message }}
          </div>
      </div>
    </div>    
{% endfor %}
{% endif %}
{% endwith %}

{% if 'username' in session %} 
{% else %}
<!-- Callout Container -->
<section class="callout-container">
  <div class="main">
    <h1 class="h1-small">Hello, my name is</h1>
    <h2 class="h2-big">Mariana Stefani.</h2>
    <h3 class="h3-big">I'm a full-stack web developer</h3>
    <p class="p-main">I code pretty things always with the user in mind.</p>
    <button type="button" id="talk-btn" class="btn btn-light">Let's Talk!</button>
    <div class="scroll-down"></div>
  </div>
</section>
{% endif %} 
{% endblock %}