{% block projects %}
<section id="projects-link" class="container-fluid projects-container">
  <h1 class="claret-colour">Projects</h1>
  <p class="projects-p">
    Here are a few projects that I've worked on recently.
  </p>
  {% if 'username' in session %}
    <a href="{{url_for('projects', project_id=project._id)}}" class="btn"
      >Add Project
      <span><i class="fas fa-user-edit prefix" aria-hidden="true"></i></span
    ></a>
    {% endif %}

    {% for project in projects %}
  <!-- Aroma Healing Project -->
  <div class="row each-project">
    <div class="project-desc col-lg-4 col-10 {{project.project_order}}">
      <p class="projects-p">Featured Project</p>
      <p class="projects-p">
        {{project.project_name}}
      </p>
      <p class="siena-colour">
        {{project.project_desc}}
      </p>
      <ul class="list-inline social-links">
        <li class="list-inline-item">
          <a class="social-btn" href="{{project.project_github}}" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
        </li>
        <li class="list-inline-item">
          <a class="social-btn" href="{{project.project_live}}" target="_blank"><i class="fas fa-globe" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
    <a href="{{project.project_live}}" target="_blank"><img class="project-img" src="{{project.project_img}}"/></a>
  </div>
  {% if 'username' in session %}
      <a href="{{url_for('update_project', project_id=project._id)}}" class="btn"
        >Edit
        <span><i class="fas fa-user-edit prefix" aria-hidden="true"></i></span
      ></a>
      <a href="{{url_for('delete_project', project_id=project._id)}}" class="btn" id="delete-btn"
        >Delete
        <span><i class="fas fa-user-edit prefix" aria-hidden="true"></i></span
      ></a>
      {% endif %}
      <hr />
  
  {% endfor %}
</section>
{% endblock %}