<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'layout/head.html' %}
    {% block head %}{% endblock %}
  </head>
  
  <body>
    <header>
      <!-- Navbar -->
      {% include 'layout/navbar.html' %}
      {% block navbar %}{% endblock %}
    </header>

    <!-- Callout Container -->
    {% block callout %}{% endblock %}

    <!-- Content Container -->
    {% block content %}{% endblock %}

    <!-- Scripts  -->
    {% include 'layout/scripts.html' %}
    {% block scripts %}{% endblock %}
    
  </body>
</html>
