<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'layout/head.html' %}
  </head>

  <body>
    <header>
      <!-- Navbar -->
      {% include 'layout/navbar.html' %}
    </header>

    <!-- Callout Container -->
    {% block callout %}{% endblock %}

    <!-- About Container -->
    {% block about %}{% endblock %}

    <!-- Projects Container -->
    {% block projects %}{% endblock %}

    <!-- Form Container -->
    {% block form %}{% endblock %}

    <!-- Footer Container -->
    {% block Footer %}{% endblock %}

    <!-- Scripts  -->
    {% include 'layout/scripts.html' %}
  </body>
</html>
