<footer class="container-fluid">
  <div id="footer-details" class="row">
     <div class="col-12">
        <ul class="list-inline social-links">
           <li class="list-inline-item">
              <a class="social-btn" href="https://github.com/mariana-stefani" rel="noopener" target="_blank"
                 aria-label="Mariana Stefani Github page"><i class="fab fa-github" aria-hidden="true"></i
                 ></a>
           </li>
           <li class="list-inline-item">
              <a class="social-btn" href="https://www.linkedin.com/in/mariana-stefani" rel="noopener" target="_blank" aria-label="Mariana Stefani Linkedin profile"
                 ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                 ></a>
           </li>
           <li class="list-inline-item">
              <a class="social-btn" href="http://www.twitter.com" rel="noopener" target="_blank" aria-label="Twitter website"
                 ><i class="fab fa-twitter" aria-hidden="true"></i
                 ></a>
           </li>
        </ul>
     </div>
  </div>
</footer>